version: '3.8'

services:

  builder:
    container_name: builder
    image: linuxkit-builder
    build:
      context: .
      dockerfile: Dockerfile  
    entrypoint: [tini, sleep, infinity]
    working_dir: /linuxkit-builder/linuxkit
    environment:
      PATH: PATH=/go/bin:/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/linuxkit-builder/bin
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/linuxkit-builder
